.torrent-list li, li.torrent-list-cat {
  margin: 0;
  display: block;
}
.red-torrent-lister {
  overflow-y: auto;
}
.red-torrent-lister::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}
.red-torrent-lister::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}
.red-torrent-lister::-webkit-scrollbar-thumb
{
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}
.torrent-list {
  overflow-y: auto;
  padding: 0;
  margin: 0;
}
.torrent-list-cat-caption {
  padding: .25rem;
  border: 1px solid #242424;
  background-color: #4b4b4b;
  color: #d6d8db;
  display: block;
  cursor: pointer;
}
.torrent-category-list {
  padding: 0;
  margin: 0;
}
