<ul *ngIf="this.sortedTorrentData" class="torrent-category-list">
  <data *ngFor="let cat of this.sortedTorrentData.categories">
    <li *ngIf="this.sortedTorrentData[cat].size > 0"
      class="torrent-list-cat">
      <span class="torrent-list-cat-caption" (click)="toggleCollapsed(cat)">{{cat}} ({{this.getTorrentDataValues(cat).length}})</span>
      <ul class="torrent-list insert-remove-container" *ngIf="!getCollapsed(cat)" @shrinkOut>
        <li *ngFor="let torrentStub of this.getTorrentDataValues(cat)">
          <app-torrententry *ngIf="torrentStub.details; else noDetails"
            [entry]=torrentStub.details>
          </app-torrententry>
          <ng-template #noDetails>
            <span>{{torrentStub.artist.name}} - {{torrentStub.name}}</span>
            <span>(still loading…)</span>
          </ng-template>
        </li>
      </ul>
    </li>
  </data>
  <li *ngIf="this.searchResults.length > 0" class="torrent-list-cat">
    <span class="torrent-list-cat-caption" (click)="toggleCollapsed('search')">
      Search Results ({{ this.searchResults.length }})</span>
    <ul class="torrent-list insert-remove-container" *ngIf="!getCollapsed('search')" @shrinkOut>
      <li *ngFor="let torrentEntry of this.searchResults">
        <app-torrententry [entry]=torrentEntry>
        </app-torrententry>
      </li>
    </ul>
  </li>
</ul>
