<div class="torrent-entry">
  <div class="torrent-entry-generic">
    <span class="entry displayartist">{{entry.getDisplayArtist()}}</span>
    <span class="entry title">{{entry.group.name}}</span>
    <span class="entry year">{{entry.group.year}}</span>
  </div>
  <div class="torrent-entry-edition">
    <span class="entry editiontitle" *ngIf="edition[0]">{{edition[0]}}</span>
    <span class="entry edtionyear">{{edition[1]}}</span>
    <span class="entry recordlabel">{{edition[2]}}</span>
    <span class="entry catnumber">{{edition[3]}}</span>
  </div>
  <div class="torrent-entry-torrent">
    <span class="entry count">{{entry.data.audioFileCount}} tracks</span>
    <span class="entry size">{{entry.data.fileTree.getHumanReadableSize()}}</span>
    <span class="entry media">{{entry.data.media}}</span>
    <span class="entry scene" *ngIf="entry.data.scene">Scene</span>
    <span class="entry format">{{entry.data.format}}</span>
    <span class="entry bitrate">{{entry.data.encoding}}</span>
    <span class="entry log" *ngIf="entry.data.hasLog">Log {{entry.data.logScore}}%</span>
    <span class="entry cue" *ngIf="entry.data.hasCue">Cue</span>
  </div>
  <div class="torrent-entry-actions">
    <span class="torrent-entry-action" *ngFor="let action of entrySettingsSvc.actions"
          (click)="action.action(entry)">
      {{action.text}}
    </span>
  </div>
</div>
