.torrent-entry {
  padding: .25rem;
  border: 1px solid #d6d8db;
  background-color: #e2e3e5;
}
.torrent-entry:hover, .torrent-entry.active {
  background-color: rgb(236, 236, 236);
}
.torrent-entry .entry {
  padding-right: 0.3em;
}
.entry.displayartist::after {
  content: ":"
}
.entry.year::before {
  content: "("
}
.entry.year::after {
  content: ")"
}
.entry.editiontitle::after {
  content: " //"
}
.entry {
  border: 1px black;
}
.entry.recordlabel::before {
  content: "- "
}
.entry.recordlabel::after {
  content: " -"
}
.torrent-entry-torrent .entry {
  display: inline-block;
  padding: .25em .4em;
  margin: .15em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #6c757d;
}
.torrent-entry-action {
  cursor: pointer;
}
.torrent-entry-action::before {
  content: "["
}
.torrent-entry-action::after {
  content: "]"
}
