.red-move-outer {
  position: fixed;
  z-index: 1000;
}
.red-move-left {
  top: 0;
  left: 0;
}
.red-move-right {
  top: 0;
  right: 20%;
}
.red-move-top {
  top: 0;
  left: 20%;
}
.red-move-bottom {
  top: 50%;
  left: 20%;
}
.red-move-content-side {
  position: fixed;
  height: 100%;
  width: 20%;
  background-color: #F5F5F5;
}
.red-move-content-center {
  position: fixed;
  height: 50%;
  width: 60%;
  background-color: #F5F5F5;
}
.red-move-btn {
  position: fixed;
  z-index: 1001;
  color: black;
  -webkit-filter: drop-shadow( 1px 1px 1px rgba(255, 255, 255, .9));
  filter: drop-shadow( 1px 1px 1px rgba(255, 255, 255, 0.9));
}
.red-move-left .red-move-btn {
  top: 50%;
  left: 0;
}
.red-move-right .red-move-btn {
  top: 50%;
  right: 0;
}
.red-move-top .red-move-btn {
  top: 0;
  left: 50%;
}
.red-move-bottom .red-move-btn {
  bottom: 0;
  left: 50%;
}
.insert-remove-container {
  border: 1px solid darkgray;
  padding: 0;
  margin: 0;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
}
