.red-move-filetree .label {
  min-width: 5em;
  display: inline-block;
}
.red-move-filetree .label span:first-child {
  margin-right: .4em;
}
.red-move-filetree .label.folder span:first-child {
  text-decoration: underline;
  cursor: pointer;
}
