<ul class="red-move-filetree">
  <li *ngFor="let child of this.getChildren()">
    <span class="label"
          [ngClass]="child.isFolder ? 'folder' : ''">
      <span (click)="this.toggleChildTree(child)">{{child.name}}</span>
      <span>[{{child.getHumanReadableSize()}}]</span>
    </span>
    <span *ngIf="child.isFolder && this.showChild(child)">
      <app-torrentfiletree [path]="child"></app-torrentfiletree>
    </span>
  </li>
</ul>
