.red-move-torrentdetails {
  overflow-y: auto;
}
.red-move-torrentdetails > div {
  padding: .2em 0 .2em;
}
.red-move-torrentdetails span.label {
  min-width: 7em;
  display: inline-block;
  padding-right: 1em;
  text-align: right;
}
.red-move-torrentdetails span.content {
  display: inline-flex;
  overflow-y: auto;
}
.content span.delimited:not(:first-child), .content span.torrent-totalsize {
  margin-left: 0.2em;
}
.content span.delimited:not(:first-child)::before {
  content: "/ ";
}
.content span.torrent-totalsize::before {
  content: "[";
}
.content span.torrent-totalsize::after {
  content: "]";
}
.torrent-description {
  max-height: 3.5em;
  white-space: pre-wrap;
  cursor: pointer;
}
.torrent-description.expanded {
  max-height: inherit;
}
