<div class="red-move-torrentdetails" *ngIf="this.entry !== undefined">
  <div class="torrentdetails-group">
    <span class="label">Group</span>
    <span class="content">{{ this.entry.getDisplayArtist() }} -
      {{ this.entry.group.name }} ({{ this.entry.group.year }})
      [{{ this.entry.group.categoryName }}]</span>
  </div>
  <div class="torrentdetails-edition">
    <span class="label">Edition</span>
    <span class="content">
      <span class="delimited" *ngIf="this.entry.data.media">{{ this.entry.data.media }}</span>
      <span class="delimited" *ngIf="this.edition[1]">{{ this.edition[1] }}</span>
      <span class="delimited" *ngIf="this.edition[0]">{{ this.edition[0] }}</span>
      <span class="delimited" *ngIf="this.edition[2]">{{ this.edition[2] }}</span>
    </span>
  </div>
  <div class="torrentdetails-torrent">
    <span class="label">Torrent</span>
    <span class="content delimited">
      <span class="delimited torrent-format">{{ this.entry.data.format }}</span>
      <span class="delimited torrent-encoding">{{ this.entry.data.encoding }}</span>
      <span class="delimited torrent-haslog" *ngIf="this.entry.data.hasLog">Log ({{this.entry.data.logScore}}%)</span>
      <span class="delimited torrent-hascue" *ngIf="this.entry.data.hasCue">Cue</span>
      <span class="delimited torrent-isscene" *ngIf="this.entry.data.scene">Scene</span>
      <span class="torrent-totalsize">{{this.entry.data.fileTree.getHumanReadableSize()}}</span>
    </span>
  </div>
  <div class="torrentdetails-description">
    <span class="label">Description</span>
    <span class="content torrent-description"
          (click)="this.descriptionExpanded=!this.descriptionExpanded; this.rerender()"
          [ngClass]="this.descriptionExpanded ? 'expanded' : 'expandable'"
    >{{ this.entry.data.description }}</span>
  </div>
  <div class="torrentdetails-folder">
    <span class="label">Folder</span>
    <span class="content">{{ this.entry.data.filePath }}</span>
  </div>
  <div class="torrentdetails-filetree">
    <span class="label">Files</span>
    <span class="content">
      <app-torrentfiletree [path]="this.entry.data.fileTree"></app-torrentfiletree>
    </span>
  </div>
</div>
