<label for="remoteBaseUrl">Remote API URL base
  <input id="remoteBaseUrl" type="text" [formControl]="remoteBaseUrl">
</label>
<label for="remoteApiKey">Remote API Key
  <input id="remoteApiKey" type="text" [formControl]="remoteApiKey">
</label>
<label for="userId">Remote user ID
  <input id="userId" type="number" [formControl]="userId">
</label>
<label for="userId">Torrent List
  <select [formControl]="torrentListType" id="torrentListType" required>
    <option *ngFor="let type of torrentListTypesArr" [value]="type">{{type}}</option>
  </select>
</label>
<label for="limit">Max Fetch Torrent Count
  <input id="limit" type="number" max=500 [formControl]="limit">
</label>
<label for="offset">Fetch Offset
  <input id="offset" type="number" [formControl]="offset">
</label>
<label for="offset">Redirect on successful upload
  <input id="redirectOnSuccess" type="checkbox" [formControl]="redirectOnSuccess">
</label>
